django
djangorestframework
django-cors-headers
django-oauth-toolkit
django-silk
python-ipware
scikit-learn
celery
redis
python-dotenv
joblib
numpy
pandas
transformers
datasets
gunicorn
torch
tensorflow