@font-face {
    font-family: "DM Serif Text", serif;
    src: url('/static/fonts/DMSerifText-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: "DM Serif Text", serif;
}

main, main > div {
    min-height: calc(100vh - 56px);
}

.copy-button {
    cursor: pointer;
}